.home {
    
    .hero{  
        font-family: 'Gill Sans';
        height: 500px;
        background-image: url(/images/hero-image.png);
        background-size: cover;
        background-color: none;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        
        margin: auto 0; 
        


        // .hero-image{
        //     width: 1000px;
        //     height: 100px;

        // }

        .hero-text {
            color: white;
            font-family: 'Gill Sans';

            text-align: center;
            align-items: center;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            

            position: absolute;
            top: 170px;
            left: 50%;
            transform: translate(-50%, -50%);
            .travel-fly{
                text-decoration: none;
                font-size: 60px;
                list-style: none;
                font-weight: 400;

            }
            .top-text{
            padding: 5px;
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            }
            .bottom-text{

                align-items: center;
                display: flex;
                justify-content: space-around;
                text-align: center;

            }

            ul{
                text-align: center;
                text-decoration: none;
            }

            li{
                text-decoration: none;
            }

        }
        
        .learn-more{
            width: 125px;
            padding: 5px 15px;
            //top and top-left padding
            background-color: #79ADDC;
            color: white;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            text-align: center;
            border-radius: 25px;

            position: absolute;
            top: 350px;
            left: 50%;
            transform: translate(-50%, -50%);
            
            
            a{
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    } 

    .promo-trips{
        margin-top: -50px;
        //this puts the overlap over the hero image
        min-height: 304px;
        background-color: rgba(180, 180, 180, 0.5);


        img{
            width: 236px;
            height: 304px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .israel{
            width: 236px;
            height: 304px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .usa{
            width: 236px;
            height: 304px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .australia{
            width: 236px;
            height: 304px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }








    .booking{
        min-height: 400px;
        background-color: white;
        padding: 50px;


        .booking-wrapper{
        max-width: 600px;
        margin: 0 auto;
        background-color: white;

        // input{
        //     width: 95%;
        //     height: 58px;
        // }


        .read-more{
            width: 125px;
            padding: 5px 15px;
            //top and top-left padding
            background-color: #79ADDC;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            border-radius: 25px;

            position: absolute;
            top: 350px;
            left: 50%;
            transform: translate(-50%, -50%);
            
            
            a{
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .flexyflex{
            justify-content: space-between;
            display: flex;
            align-items: center;

            .size{
                size: 5;
            }
        }
        
        
        .inlined-label {
            width: 49%;
            height: 58px;
            display: inline-block;
            // float: left;
            margin-left: 1%;
            font-family: 'Gill Sans';
            input {
                width: 95%;
                display: inline-block;
          }


        }

        .move-over-again{
            width: 51%;
            float: right;
        }

        .inlined-label-comment{
            width: 100%;
            // display: inline-flex;
        }

        hr{
            border: 0px;
            clear: both;
            visibility: hidden;
            padding: 5px;
        }
    }
}
}