footer{
    height: 100px;
    max-width: 800px;
    background-color: #79ADDC;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans';
    

    .logo{
        width: 96px;
        height: 42px;
        font-size: 20px;
        // background-color: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
    }

    .texty-text{

        width: 236;
        height: 16px;
        // background-color: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        font-size: 12px;
    }

    .social-logo {
        align-items: center;
        // margin: auto 0;
        display: flex;
        justify-content: space-between;
        padding-right: 100;




        img {
            height: 22px;
            height: 22px;
        }

        // .logo-1{
            height: auto;
            display: flex;
            justify-content: space-between;
            text-align: justify;
        }
        .logo-2{
            height: auto;
            display: flex;
            justify-content: space-around;
            text-align: justify; }
        }
        .logo-3{   
            height: auto;
            display: flex;
            justify-content: space-between;
            text-align: justify;
        }